## 1. 데이터 수집

In [1]:
import pandas as pd
import shutil
import os

In [2]:
df = pd.read_csv("dataset/naver_news/네이버뉴스_사회_사회일반.csv",index_col=0)

In [3]:
df

             날짜                                     헤드라인
0      20220326         황교익 “尹당선인 ‘먹방 대통령’되려면 MB 보고 배워야”
1      20220326                비혼으로 30년…그들은 꿈꾸던 삶을 살고 있나
2      20220326                경남 통영, 아시아 3대 해양관광축제도시 지정
3      20220326   '10억 송이 꽃강' 장성 황룡강 폭포 조성...자연 힐링 명소 각광
4      20220326  55연타 폭풍 펀치 퍼부었다...47세 추성훈, 악연 아오키에 TKO승
...         ...                                      ...
12246  20220329      평생 ‘인간존엄’ 화두 삼은 스승…최고의 헌법학자 김철수 선생님
12247  20220329           분윳값 20만원 빌린 주부…원금만 400만원으로 불었다
12248  20220329    스텔스 오미크론이 우세종으로…오미크론보다 최대 1.5배 전파력 강해
12249  20220329        다시 33만명…정부는 내주부터 ‘10인·12시’로 완화 검토
12250  20220329          [녹유 오늘의 운세] 60년생 오래된 습관 지키고 아껴요

[12251 rows x 2 columns]

## 2. 데이터 전처리

### NULL 값 처리하기.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12251 entries, 0 to 12250
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      12251 non-null  int64
 1   헤드라인    12251 non-null  object
dtypes: int64(1), object(1)
memory usage: 287.1+ KB

In [5]:
df[df['헤드라인'].isnull()]

Empty DataFrame
Columns: [날짜, 헤드라인]
Index: []

In [6]:
df.dropna(inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12251 entries, 0 to 12250
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      12251 non-null  int64
 1   헤드라인    12251 non-null  object
dtypes: int64(1), object(1)
memory usage: 287.1+ KB

In [8]:
df[df['헤드라인'].isnull()]

Empty DataFrame
Columns: [날짜, 헤드라인]
Index: []

In [9]:
df.reset_index(inplace=True, drop=True)

### 중복값 제거하기

In [10]:
# 모든 중복값 찾기
df[df['헤드라인'].duplicated(keep=False) == True]

             날짜                                      헤드라인
26     20220326  [속보] 오후 9시까지 전국서 31만49명 확진…어제보다 3715명 많아
38     20220326                  60세 이상·면역저하자도 재택치료 일반관리군
58     20220326                     창원시, '청년정책 해커톤 대회' 열어
64     20220326  [속보] 오후 9시까지 전국서 31만49명 확진…어제보다 3715명 많아
68     20220326                박근혜 전 대통령 향해 소주병 던진 40대 구속
...         ...                                       ...
12053  20220329                               1부 오늘의 주요뉴스
12099  20220329                                      [부고]
12102  20220329                                      [인사]
12172  20220329                            개구리소년 31주기 추모제
12208  20220329                                       클로징

[2245 rows x 2 columns]

In [11]:
# 첫번째 중복값은 포함하지 않기
df[df['헤드라인'].duplicated(keep='first') == True]

             날짜                                      헤드라인
64     20220326  [속보] 오후 9시까지 전국서 31만49명 확진…어제보다 3715명 많아
111    20220326        1008회 로또 1등 11명…당첨금 22억7000만원씩 받는다
154    20220326                                  피켓 든 시민들
158    20220326                               맞불집회하는 보수단체
160    20220326                                  피켓 든 시민들
...         ...                                       ...
12053  20220329                               1부 오늘의 주요뉴스
12099  20220329                                      [부고]
12102  20220329                                      [인사]
12172  20220329                            개구리소년 31주기 추모제
12208  20220329                                       클로징

[1438 rows x 2 columns]

In [12]:
# 마지막 중복값은 포함하지 않기
df[df['헤드라인'].duplicated(keep='last') == True]

             날짜                                      헤드라인
26     20220326  [속보] 오후 9시까지 전국서 31만49명 확진…어제보다 3715명 많아
38     20220326                  60세 이상·면역저하자도 재택치료 일반관리군
58     20220326                     창원시, '청년정책 해커톤 대회' 열어
68     20220326                박근혜 전 대통령 향해 소주병 던진 40대 구속
103    20220326        1008회 로또 1등 11명…당첨금 22억7000만원씩 받는다
...         ...                                       ...
11714  20220329                             출근하는 김진욱 공수처장
11718  20220329         스텔스 오미크론 우세종에 “감소세 뚜렷하지만 감소폭 불투명”
11748  20220329                             출근하는 김오수 검찰총장
11824  20220329         ‘사육장 탈출’ 곰 1마리, 4개월 만에 용인 야산에서 발견
11828  20220329               인천서 60대 노동자 떨어진 벽돌더미에 맞아 사망

[1438 rows x 2 columns]

In [13]:
df[df['헤드라인'].duplicated(keep='first') == True].index

Int64Index([   64,   111,   154,   158,   160,   161,   163,   166,   167,
              168,
            ...
            12023, 12026, 12034, 12035, 12038, 12053, 12099, 12102, 12172,
            12208],
           dtype='int64', length=1438)

In [14]:
df.drop(df[df['헤드라인'].duplicated(keep='first') == True].index, axis=0, inplace=True)

In [15]:
df.reset_index(inplace=True, drop=True)

In [16]:
df

             날짜                                     헤드라인
0      20220326         황교익 “尹당선인 ‘먹방 대통령’되려면 MB 보고 배워야”
1      20220326                비혼으로 30년…그들은 꿈꾸던 삶을 살고 있나
2      20220326                경남 통영, 아시아 3대 해양관광축제도시 지정
3      20220326   '10억 송이 꽃강' 장성 황룡강 폭포 조성...자연 힐링 명소 각광
4      20220326  55연타 폭풍 펀치 퍼부었다...47세 추성훈, 악연 아오키에 TKO승
...         ...                                      ...
10808  20220329      평생 ‘인간존엄’ 화두 삼은 스승…최고의 헌법학자 김철수 선생님
10809  20220329           분윳값 20만원 빌린 주부…원금만 400만원으로 불었다
10810  20220329    스텔스 오미크론이 우세종으로…오미크론보다 최대 1.5배 전파력 강해
10811  20220329        다시 33만명…정부는 내주부터 ‘10인·12시’로 완화 검토
10812  20220329          [녹유 오늘의 운세] 60년생 오래된 습관 지키고 아껴요

[10813 rows x 2 columns]

## 3. 형태소 분석

### OKT 사용해보기

In [17]:
# KONLPY의 OKT 형태소 분석기를 불러오고 이를 okt 변수에 저장

from konlpy.tag import Okt
okt = Okt()

In [18]:
okt.nouns('확진자')

['확', '진자']

## 새로운 단어 추가하기

In [37]:
path_to_ana = "C:/Users/hanbi" #Anaconda3 가 존재하는 폴더까지의 경로 / 자신의 경로에 맞게 수정해야함
path_to_okt = "/Anaconda3/Lib/site-packages/konlpy/java/"
file_name = "open-korean-text-2.1.0.jar"

# 현재 작업 공간에 okt 폴더 생성
if not os.path.exists('okt'):
    os.mkdir('./okt')
else:
    print("okt폴더가 존재합니다.")

# okt 폴더로 이동
if not os.path.exists('okt'):
    print("okt 폴더를 먼저 만들어주세요.")
else:
    os.chdir('./okt')

# 아나콘다 안에 OKT 파일을 현재 작업 공간으로 복사해오기
shutil.copyfile(path_to_ana+path_to_okt+file_name, file_name)

# 압축 풀기
! jar xvf ./open-korean-text-2.1.0.jar
os.remove(file_name)
os.chdir("../")

  created: META-INF/
 inflated: META-INF/MANIFEST.MF
  created: META-INF/maven/
  created: META-INF/maven/org.openkoreantext/
  created: META-INF/maven/org.openkoreantext/open-korean-text/
 inflated: META-INF/maven/org.openkoreantext/open-korean-text/pom.properties
 inflated: META-INF/maven/org.openkoreantext/open-korean-text/pom.xml
  created: org/
  created: org/openkoreantext/
  created: org/openkoreantext/processor/
 inflated: org/openkoreantext/processor/KoreanPosJava.class
 inflated: org/openkoreantext/processor/KoreanTokenJava.class
 inflated: org/openkoreantext/processor/OpenKoreanTextProcessor$.class
 inflated: org/openkoreantext/processor/OpenKoreanTextProcessor.class
 inflated: org/openkoreantext/processor/OpenKoreanTextProcessorJava.class
  created: org/openkoreantext/processor/normalizer/
 inflated: org/openkoreantext/processor/normalizer/KoreanNormalizer$.class
 inflated: org/openkoreantext/processor/normalizer/KoreanNormalizer$Segment$.class
 inflated: org/openkoreantext/processor/normalizer/KoreanNormalizer$Segment.class
 inflated: org/openkoreantext/processor/normalizer/KoreanNormalizer.class
  created: org/openkoreantext/processor/phrase_extractor/
 inflated: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$.class
 inflated: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$KoreanPhrase$.class
 inflated: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$KoreanPhrase.class
 inflated: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$PhraseBuffer$.class
 inflated: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$PhraseBuffer.class
 inflated: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor.class
  created: org/openkoreantext/processor/qa/
 inflated: org/openkoreantext/processor/qa/BatchGetUnknownNouns$.class
 inflated: org/openkoreantext/processor/qa/BatchGetUnknownNouns$ChunkWithTweet$.class
 inflated: org/openkoreantext/processor/qa/BatchGetUnknownNouns$ChunkWithTweet.class
 inflated: org/openkoreantext/processor/qa/BatchGetUnknownNouns.class
 inflated: org/openkoreantext/processor/qa/BatchTokenizeTweets$.class
 inflated: org/openkoreantext/processor/qa/BatchTokenizeTweets$ParseTime$.class
 inflated: org/openkoreantext/processor/qa/BatchTokenizeTweets$ParseTime.class
 inflated: org/openkoreantext/processor/qa/BatchTokenizeTweets.class
 inflated: org/openkoreantext/processor/qa/KoreanProcessorSandbox$.class
 inflated: org/openkoreantext/processor/qa/KoreanProcessorSandbox.class
  created: org/openkoreantext/processor/stemmer/
 inflated: org/openkoreantext/processor/stemmer/KoreanStemmer$.class
 inflated: org/openkoreantext/processor/stemmer/KoreanStemmer.class
  created: org/openkoreantext/processor/tokenizer/
 inflated: org/openkoreantext/processor/tokenizer/KoreanChunk$.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanChunk.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanChunker$.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanChunker$ChunkMatch$.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanChunker$ChunkMatch.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanChunker.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanDetokenizer$.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanDetokenizer.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanSentenceSplitter$.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanSentenceSplitter.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanTokenizer$.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanTokenizer$CandidateParse$.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanTokenizer$CandidateParse.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanTokenizer$KoreanToken$.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanTokenizer$KoreanToken.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanTokenizer$PossibleTrie$.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanTokenizer$PossibleTrie.class
 inflated: org/openkoreantext/processor/tokenizer/KoreanTokenizer.class
 inflated: org/openkoreantext/processor/tokenizer/ParsedChunk$.class
 inflated: org/openkoreantext/processor/tokenizer/ParsedChunk.class
 inflated: org/openkoreantext/processor/tokenizer/Sentence$.class
 inflated: org/openkoreantext/processor/tokenizer/Sentence.class
 inflated: org/openkoreantext/processor/tokenizer/TokenizerProfile$.class
 inflated: org/openkoreantext/processor/tokenizer/TokenizerProfile.class
  created: org/openkoreantext/processor/tools/
 inflated: org/openkoreantext/processor/tools/CreateChunkParsingCandidates$.class
 inflated: org/openkoreantext/processor/tools/CreateChunkParsingCandidates.class
 inflated: org/openkoreantext/processor/tools/CreateConjugationExamples$.class
 inflated: org/openkoreantext/processor/tools/CreateConjugationExamples$ConjugationExample$.class
 inflated: org/openkoreantext/processor/tools/CreateConjugationExamples$ConjugationExample.class
 inflated: org/openkoreantext/processor/tools/CreateConjugationExamples.class
 inflated: org/openkoreantext/processor/tools/CreateParsingExamples$.class
 inflated: org/openkoreantext/processor/tools/CreateParsingExamples$ParsingExample$.class
 inflated: org/openkoreantext/processor/tools/CreateParsingExamples$ParsingExample.class
 inflated: org/openkoreantext/processor/tools/CreateParsingExamples.class
 inflated: org/openkoreantext/processor/tools/CreatePhraseExtractionExamples$.class
 inflated: org/openkoreantext/processor/tools/CreatePhraseExtractionExamples$PhraseExample$.class
 inflated: org/openkoreantext/processor/tools/CreatePhraseExtractionExamples$PhraseExample.class
 inflated: org/openkoreantext/processor/tools/CreatePhraseExtractionExamples.class
 inflated: org/openkoreantext/processor/tools/DeduplicateAndSortDictionaries$.class
 inflated: org/openkoreantext/processor/tools/DeduplicateAndSortDictionaries.class
 inflated: org/openkoreantext/processor/tools/Runnable.class
 inflated: org/openkoreantext/processor/tools/UpdateAllTheExamples$.class
 inflated: org/openkoreantext/processor/tools/UpdateAllTheExamples.class
  created: org/openkoreantext/processor/util/
 inflated: org/openkoreantext/processor/util/CharArrayMap$1.class
 inflated: org/openkoreantext/processor/util/CharArrayMap$EmptyCharArrayMap.class
 inflated: org/openkoreantext/processor/util/CharArrayMap$EntryIterator.class
 inflated: org/openkoreantext/processor/util/CharArrayMap$EntrySet.class
 inflated: org/openkoreantext/processor/util/CharArrayMap$MapEntry.class
 inflated: org/openkoreantext/processor/util/CharArrayMap$UnmodifiableCharArrayMap.class
 inflated: org/openkoreantext/processor/util/CharArrayMap.class
 inflated: org/openkoreantext/processor/util/CharArraySet.class
 inflated: org/openkoreantext/processor/util/CharacterUtils$CharacterBuffer.class
 inflated: org/openkoreantext/processor/util/CharacterUtils$Java4CharacterUtils.class
 inflated: org/openkoreantext/processor/util/CharacterUtils$Java5CharacterUtils.class
 inflated: org/openkoreantext/processor/util/CharacterUtils.class
 inflated: org/openkoreantext/processor/util/Hangul$.class
 inflated: org/openkoreantext/processor/util/Hangul$DoubleCoda$.class
 inflated: org/openkoreantext/processor/util/Hangul$DoubleCoda.class
 inflated: org/openkoreantext/processor/util/Hangul$HangulChar$.class
 inflated: org/openkoreantext/processor/util/Hangul$HangulChar.class
 inflated: org/openkoreantext/processor/util/Hangul.class
 inflated: org/openkoreantext/processor/util/KoreanConjugation$.class
 inflated: org/openkoreantext/processor/util/KoreanConjugation.class
 inflated: org/openkoreantext/processor/util/KoreanDictionaryProvider$.class
 inflated: org/openkoreantext/processor/util/KoreanDictionaryProvider.class
 inflated: org/openkoreantext/processor/util/KoreanPos$.class
 inflated: org/openkoreantext/processor/util/KoreanPos$KoreanPosTrie$.class
 inflated: org/openkoreantext/processor/util/KoreanPos$KoreanPosTrie.class
 inflated: org/openkoreantext/processor/util/KoreanPos.class
 inflated: org/openkoreantext/processor/util/KoreanSubstantive$.class
 inflated: org/openkoreantext/processor/util/KoreanSubstantive.class
  created: org/openkoreantext/processor/util/adjective/
 inflated: org/openkoreantext/processor/util/adjective/adjective.txt
  created: org/openkoreantext/processor/util/adverb/
 inflated: org/openkoreantext/processor/util/adverb/adverb.txt
  created: org/openkoreantext/processor/util/auxiliary/
 inflated: org/openkoreantext/processor/util/auxiliary/conjunctions.txt
 inflated: org/openkoreantext/processor/util/auxiliary/determiner.txt
 inflated: org/openkoreantext/processor/util/auxiliary/exclamation.txt
 inflated: org/openkoreantext/processor/util/example_chunks.txt
 inflated: org/openkoreantext/processor/util/example_tweets.txt
  created: org/openkoreantext/processor/util/freq/
 inflated: org/openkoreantext/processor/util/freq/entity-freq.txt.gz
  created: org/openkoreantext/processor/util/josa/
 inflated: org/openkoreantext/processor/util/josa/josa.txt
  created: org/openkoreantext/processor/util/noun/
 inflated: org/openkoreantext/processor/util/noun/bible.txt
 inflated: org/openkoreantext/processor/util/noun/company_names.txt
 inflated: org/openkoreantext/processor/util/noun/congress.txt
 inflated: org/openkoreantext/processor/util/noun/entities.txt
 inflated: org/openkoreantext/processor/util/noun/foreign.txt
 inflated: org/openkoreantext/processor/util/noun/geolocations.txt
 inflated: org/openkoreantext/processor/util/noun/kpop.txt
 inflated: org/openkoreantext/processor/util/noun/lol.txt
 inflated: org/openkoreantext/processor/util/noun/names.txt
 inflated: org/openkoreantext/processor/util/noun/nouns.txt
 inflated: org/openkoreantext/processor/util/noun/pokemon.txt
 inflated: org/openkoreantext/processor/util/noun/profane.txt
 inflated: org/openkoreantext/processor/util/noun/slangs.txt
 inflated: org/openkoreantext/processor/util/noun/spam.txt
 inflated: org/openkoreantext/processor/util/noun/twitter.txt
 inflated: org/openkoreantext/processor/util/noun/wikipedia_title_nouns.txt
  created: org/openkoreantext/processor/util/substantives/
 inflated: org/openkoreantext/processor/util/substantives/family_names.txt
 inflated: org/openkoreantext/processor/util/substantives/given_names.txt
 inflated: org/openkoreantext/processor/util/substantives/modifier.txt
 inflated: org/openkoreantext/processor/util/substantives/suffix.txt
  created: org/openkoreantext/processor/util/typos/
 inflated: org/openkoreantext/processor/util/typos/typos.txt
  created: org/openkoreantext/processor/util/verb/
 inflated: org/openkoreantext/processor/util/verb/eomi.txt
 inflated: org/openkoreantext/processor/util/verb/pre_eomi.txt
 inflated: org/openkoreantext/processor/util/verb/verb.txt
 inflated: org/openkoreantext/processor/util/verb/verb_prefix.txt

In [39]:
path_to_ana = "C:/Users/hanbi" #Anaconda3 가 존재하는 폴더까지의 경로 / 자신의 경로에 맞게 수정해야함
path_to_okt = "/Anaconda3/Lib/site-packages/konlpy/java/"
file_name = "open-korean-text-2.1.0.jar"

# okt 폴더로 이동
if not os.path.exists('okt'):
    print("okt 폴더를 먼저 만들어주세요.")
else:
    os.chdir('./okt')

# 압축 하기 
! jar cvf ./open-korean-text-2.1.0.jar * 

# 현재 okt파일을 원래 anaconda3 안으로 복사
shutil.copyfile(file_name, path_to_ana+path_to_okt+file_name)
os.remove(file_name)
os.chdir("../")

added manifest
ignoring entry META-INF/
ignoring entry META-INF/MANIFEST.MF
adding: META-INF/maven/(in = 0) (out= 0)(stored 0%)
adding: META-INF/maven/org.openkoreantext/(in = 0) (out= 0)(stored 0%)
adding: META-INF/maven/org.openkoreantext/open-korean-text/(in = 0) (out= 0)(stored 0%)
adding: META-INF/maven/org.openkoreantext/open-korean-text/pom.properties(in = 119) (out= 110)(deflated 7%)
adding: META-INF/maven/org.openkoreantext/open-korean-text/pom.xml(in = 9127) (out= 2208)(deflated 75%)
adding: org/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/KoreanPosJava.class(in = 2457) (out= 1241)(deflated 49%)
adding: org/openkoreantext/processor/KoreanTokenJava.class(in = 1976) (out= 931)(deflated 52%)
adding: org/openkoreantext/processor/OpenKoreanTextProcessor$.class(in = 7716) (out= 2400)(deflated 68%)
adding: org/openkoreantext/processor/OpenKoreanTextProcessor.class(in = 4428) (out= 1997)(deflated 54%)
adding: org/openkoreantext/processor/OpenKoreanTextProcessorJava.class(in = 5901) (out= 1995)(deflated 66%)
adding: org/openkoreantext/processor/normalizer/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/normalizer/KoreanNormalizer$.class(in = 11553) (out= 5102)(deflated 55%)
adding: org/openkoreantext/processor/normalizer/KoreanNormalizer$Segment$.class(in = 2577) (out= 989)(deflated 61%)
adding: org/openkoreantext/processor/normalizer/KoreanNormalizer$Segment.class(in = 3470) (out= 1422)(deflated 59%)
adding: org/openkoreantext/processor/normalizer/KoreanNormalizer.class(in = 2980) (out= 2181)(deflated 26%)
adding: org/openkoreantext/processor/phrase_extractor/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$.class(in = 37855) (out= 12404)(deflated 67%)
adding: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$KoreanPhrase$.class(in = 3358) (out= 1148)(deflated 65%)
adding: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$KoreanPhrase.class(in = 6942) (out= 2591)(deflated 62%)
adding: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$PhraseBuffer$.class(in = 3564) (out= 1087)(deflated 69%)
adding: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor$PhraseBuffer.class(in = 4857) (out= 1609)(deflated 66%)
adding: org/openkoreantext/processor/phrase_extractor/KoreanPhraseExtractor.class(in = 6005) (out= 3967)(deflated 33%)
adding: org/openkoreantext/processor/qa/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/qa/BatchGetUnknownNouns$.class(in = 8751) (out= 3532)(deflated 59%)
adding: org/openkoreantext/processor/qa/BatchGetUnknownNouns$ChunkWithTweet$.class(in = 2376) (out= 952)(deflated 59%)
adding: org/openkoreantext/processor/qa/BatchGetUnknownNouns$ChunkWithTweet.class(in = 3080) (out= 1338)(deflated 56%)
adding: org/openkoreantext/processor/qa/BatchGetUnknownNouns.class(in = 2307) (out= 1702)(deflated 26%)
adding: org/openkoreantext/processor/qa/BatchTokenizeTweets$.class(in = 10867) (out= 4401)(deflated 59%)
adding: org/openkoreantext/processor/qa/BatchTokenizeTweets$ParseTime$.class(in = 2418) (out= 1015)(deflated 58%)
adding: org/openkoreantext/processor/qa/BatchTokenizeTweets$ParseTime.class(in = 3153) (out= 1446)(deflated 54%)
adding: org/openkoreantext/processor/qa/BatchTokenizeTweets.class(in = 2720) (out= 2031)(deflated 25%)
adding: org/openkoreantext/processor/qa/KoreanProcessorSandbox$.class(in = 1464) (out= 823)(deflated 43%)
adding: org/openkoreantext/processor/qa/KoreanProcessorSandbox.class(in = 824) (out= 575)(deflated 30%)
adding: org/openkoreantext/processor/stemmer/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/stemmer/KoreanStemmer$.class(in = 7044) (out= 2892)(deflated 58%)
adding: org/openkoreantext/processor/stemmer/KoreanStemmer.class(in = 1439) (out= 972)(deflated 32%)
adding: org/openkoreantext/processor/tokenizer/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/tokenizer/KoreanChunk$.class(in = 2361) (out= 1010)(deflated 57%)
adding: org/openkoreantext/processor/tokenizer/KoreanChunk.class(in = 5611) (out= 2907)(deflated 48%)
adding: org/openkoreantext/processor/tokenizer/KoreanChunker$.class(in = 17975) (out= 6790)(deflated 62%)
adding: org/openkoreantext/processor/tokenizer/KoreanChunker$ChunkMatch$.class(in = 2893) (out= 1136)(deflated 60%)
adding: org/openkoreantext/processor/tokenizer/KoreanChunker$ChunkMatch.class(in = 4043) (out= 1704)(deflated 57%)
adding: org/openkoreantext/processor/tokenizer/KoreanChunker.class(in = 4232) (out= 2887)(deflated 31%)
adding: org/openkoreantext/processor/tokenizer/KoreanDetokenizer$.class(in = 9889) (out= 4174)(deflated 57%)
adding: org/openkoreantext/processor/tokenizer/KoreanDetokenizer.class(in = 1660) (out= 1133)(deflated 31%)
adding: org/openkoreantext/processor/tokenizer/KoreanSentenceSplitter$.class(in = 3359) (out= 1497)(deflated 55%)
adding: org/openkoreantext/processor/tokenizer/KoreanSentenceSplitter.class(in = 1092) (out= 712)(deflated 34%)
adding: org/openkoreantext/processor/tokenizer/KoreanTokenizer$.class(in = 25564) (out= 8451)(deflated 66%)
adding: org/openkoreantext/processor/tokenizer/KoreanTokenizer$CandidateParse$.class(in = 3459) (out= 1111)(deflated 67%)
adding: org/openkoreantext/processor/tokenizer/KoreanTokenizer$CandidateParse.class(in = 4616) (out= 1645)(deflated 64%)
adding: org/openkoreantext/processor/tokenizer/KoreanTokenizer$KoreanToken$.class(in = 3976) (out= 1402)(deflated 64%)
adding: org/openkoreantext/processor/tokenizer/KoreanTokenizer$KoreanToken.class(in = 6336) (out= 2633)(deflated 58%)
adding: org/openkoreantext/processor/tokenizer/KoreanTokenizer$PossibleTrie$.class(in = 2862) (out= 1067)(deflated 62%)
adding: org/openkoreantext/processor/tokenizer/KoreanTokenizer$PossibleTrie.class(in = 3399) (out= 1429)(deflated 57%)
adding: org/openkoreantext/processor/tokenizer/KoreanTokenizer.class(in = 6968) (out= 4384)(deflated 37%)
adding: org/openkoreantext/processor/tokenizer/ParsedChunk$.class(in = 3973) (out= 1500)(deflated 62%)
adding: org/openkoreantext/processor/tokenizer/ParsedChunk.class(in = 20517) (out= 8914)(deflated 56%)
adding: org/openkoreantext/processor/tokenizer/Sentence$.class(in = 2339) (out= 1012)(deflated 56%)
adding: org/openkoreantext/processor/tokenizer/Sentence.class(in = 5985) (out= 3125)(deflated 47%)
adding: org/openkoreantext/processor/tokenizer/TokenizerProfile$.class(in = 8169) (out= 2408)(deflated 70%)
adding: org/openkoreantext/processor/tokenizer/TokenizerProfile.class(in = 16403) (out= 6666)(deflated 59%)
adding: org/openkoreantext/processor/tools/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/tools/CreateChunkParsingCandidates$.class(in = 5487) (out= 2305)(deflated 57%)
adding: org/openkoreantext/processor/tools/CreateChunkParsingCandidates.class(in = 833) (out= 566)(deflated 32%)
adding: org/openkoreantext/processor/tools/CreateConjugationExamples$.class(in = 5881) (out= 2385)(deflated 59%)
adding: org/openkoreantext/processor/tools/CreateConjugationExamples$ConjugationExample$.class(in = 2787) (out= 997)(deflated 64%)
adding: org/openkoreantext/processor/tools/CreateConjugationExamples$ConjugationExample.class(in = 3569) (out= 1415)(deflated 60%)
adding: org/openkoreantext/processor/tools/CreateConjugationExamples.class(in = 2367) (out= 1659)(deflated 29%)
adding: org/openkoreantext/processor/tools/CreateParsingExamples$.class(in = 5517) (out= 2327)(deflated 57%)
adding: org/openkoreantext/processor/tools/CreateParsingExamples$ParsingExample$.class(in = 2842) (out= 1010)(deflated 64%)
adding: org/openkoreantext/processor/tools/CreateParsingExamples$ParsingExample.class(in = 3718) (out= 1429)(deflated 61%)
adding: org/openkoreantext/processor/tools/CreateParsingExamples.class(in = 2427) (out= 1732)(deflated 28%)
adding: org/openkoreantext/processor/tools/CreatePhraseExtractionExamples$.class(in = 5989) (out= 2472)(deflated 58%)
adding: org/openkoreantext/processor/tools/CreatePhraseExtractionExamples$PhraseExample$.class(in = 2974) (out= 1020)(deflated 65%)
adding: org/openkoreantext/processor/tools/CreatePhraseExtractionExamples$PhraseExample.class(in = 3825) (out= 1443)(deflated 62%)
adding: org/openkoreantext/processor/tools/CreatePhraseExtractionExamples.class(in = 2516) (out= 1784)(deflated 29%)
adding: org/openkoreantext/processor/tools/DeduplicateAndSortDictionaries$.class(in = 7154) (out= 3133)(deflated 56%)
adding: org/openkoreantext/processor/tools/DeduplicateAndSortDictionaries.class(in = 1117) (out= 823)(deflated 26%)
adding: org/openkoreantext/processor/tools/Runnable.class(in = 964) (out= 694)(deflated 28%)
adding: org/openkoreantext/processor/tools/UpdateAllTheExamples$.class(in = 4383) (out= 1794)(deflated 59%)
adding: org/openkoreantext/processor/tools/UpdateAllTheExamples.class(in = 1089) (out= 756)(deflated 30%)
adding: org/openkoreantext/processor/util/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/CharArrayMap$1.class(in = 1531) (out= 571)(deflated 62%)
adding: org/openkoreantext/processor/util/CharArrayMap$EmptyCharArrayMap.class(in = 2053) (out= 725)(deflated 64%)
adding: org/openkoreantext/processor/util/CharArrayMap$EntryIterator.class(in = 3118) (out= 1270)(deflated 59%)
adding: org/openkoreantext/processor/util/CharArrayMap$EntrySet.class(in = 2788) (out= 1181)(deflated 57%)
adding: org/openkoreantext/processor/util/CharArrayMap$MapEntry.class(in = 2433) (out= 1078)(deflated 55%)
adding: org/openkoreantext/processor/util/CharArrayMap$UnmodifiableCharArrayMap.class(in = 3062) (out= 859)(deflated 71%)
adding: org/openkoreantext/processor/util/CharArrayMap.class(in = 11923) (out= 4878)(deflated 59%)
adding: org/openkoreantext/processor/util/CharArraySet.class(in = 4886) (out= 1944)(deflated 60%)

adding: org/openkoreantext/processor/util/CharacterUtils$CharacterBuffer.class(in = 1634) (out= 659)(deflated 59%)
adding: org/openkoreantext/processor/util/CharacterUtils$Java4CharacterUtils.class(in = 2577) (out= 1282)(deflated 50%)
adding: org/openkoreantext/processor/util/CharacterUtils$Java5CharacterUtils.class(in = 2824) (out= 1393)(deflated 50%)
adding: org/openkoreantext/processor/util/CharacterUtils.class(in = 3703) (out= 1716)(deflated 53%)
adding: org/openkoreantext/processor/util/Hangul$.class(in = 7625) (out= 3114)(deflated 59%)
adding: org/openkoreantext/processor/util/Hangul$DoubleCoda$.class(in = 2155) (out= 963)(deflated 55%)
adding: org/openkoreantext/processor/util/Hangul$DoubleCoda.class(in = 2930) (out= 1348)(deflated 53%)
adding: org/openkoreantext/processor/util/Hangul$HangulChar$.class(in = 2389) (out= 1022)(deflated 57%)
adding: org/openkoreantext/processor/util/Hangul$HangulChar.class(in = 3185) (out= 1421)(deflated 55%)
adding: org/openkoreantext/processor/util/Hangul.class(in = 3981) (out= 2731)(deflated 31%)
adding: org/openkoreantext/processor/util/KoreanConjugation$.class(in = 22440) (out= 7972)(deflated 64%)
adding: org/openkoreantext/processor/util/KoreanConjugation.class(in = 1550) (out= 1237)(deflated 20%)
adding: org/openkoreantext/processor/util/KoreanDictionaryProvider$.class(in = 20197) (out= 7488)(deflated 62%)
adding: org/openkoreantext/processor/util/KoreanDictionaryProvider.class(in = 3430) (out= 2003)(deflated 41%)
adding: org/openkoreantext/processor/util/KoreanPos$.class(in = 12173) (out= 4669)(deflated 61%)
adding: org/openkoreantext/processor/util/KoreanPos$KoreanPosTrie$.class(in = 3157) (out= 1089)(deflated 65%)
adding: org/openkoreantext/processor/util/KoreanPos$KoreanPosTrie.class(in = 4390) (out= 1610)(deflated 63%)
adding: org/openkoreantext/processor/util/KoreanPos.class(in = 6890) (out= 3877)(deflated 43%)
adding: org/openkoreantext/processor/util/KoreanSubstantive$.class(in = 14990) (out= 6195)(deflated 58%)
adding: org/openkoreantext/processor/util/KoreanSubstantive.class(in = 1336) (out= 1087)(deflated 18%)
adding: org/openkoreantext/processor/util/adjective/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/adjective/adjective.txt(in = 27250) (out= 9357)(deflated 65%)
adding: org/openkoreantext/processor/util/adverb/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/adverb/adverb.txt(in = 65572) (out= 18741)(deflated 71%)
adding: org/openkoreantext/processor/util/auxiliary/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/auxiliary/conjunctions.txt(in = 398) (out= 189)(deflated 52%)
adding: org/openkoreantext/processor/util/auxiliary/determiner.txt(in = 63) (out= 63)(deflated 0%)
adding: org/openkoreantext/processor/util/auxiliary/exclamation.txt(in = 1759) (out= 757)(deflated 56%)
adding: org/openkoreantext/processor/util/example_chunks.txt(in = 522978) (out= 163253)(deflated 68%)
adding: org/openkoreantext/processor/util/example_tweets.txt(in = 86271) (out= 38336)(deflated 55%)
adding: org/openkoreantext/processor/util/freq/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/freq/entity-freq.txt.gz(in = 385753) (out= 385873)(deflated 0%)
adding: org/openkoreantext/processor/util/josa/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/josa/josa.txt(in = 5219) (out= 1476)(deflated 71%)
adding: org/openkoreantext/processor/util/noun/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/noun/bible.txt(in = 2032) (out= 1005)(deflated 50%)
adding: org/openkoreantext/processor/util/noun/company_names.txt(in = 1631) (out= 905)(deflated 44%)
adding: org/openkoreantext/processor/util/noun/congress.txt(in = 26494) (out= 9351)(deflated 64%)
adding: org/openkoreantext/processor/util/noun/entities.txt(in = 108142) (out= 44095)(deflated 59%)
adding: org/openkoreantext/processor/util/noun/foreign.txt(in = 10485) (out= 4686)(deflated 55%)
adding: org/openkoreantext/processor/util/noun/geolocations.txt(in = 5423) (out= 2267)(deflated 58%)
adding: org/openkoreantext/processor/util/noun/kpop.txt(in = 5371) (out= 2495)(deflated 53%)
adding: org/openkoreantext/processor/util/noun/lol.txt(in = 1337) (out= 744)(deflated 44%)
adding: org/openkoreantext/processor/util/noun/names.txt(in = 903) (out= 549)(deflated 39%)
adding: org/openkoreantext/processor/util/noun/nouns.txt(in = 219329) (out= 84139)(deflated 61%)
adding: org/openkoreantext/processor/util/noun/pokemon.txt(in = 1781) (out= 965)(deflated 45%)
adding: org/openkoreantext/processor/util/noun/profane.txt(in = 569) (out= 337)(deflated 40%)
adding: org/openkoreantext/processor/util/noun/slangs.txt(in = 1565) (out= 921)(deflated 41%)
adding: org/openkoreantext/processor/util/noun/spam.txt(in = 202) (out= 157)(deflated 22%)
adding: org/openkoreantext/processor/util/noun/twitter.txt(in = 254) (out= 162)(deflated 36%)
adding: org/openkoreantext/processor/util/noun/wikipedia_title_nouns.txt(in = 1971964) (out= 686708)(deflated 65%)
adding: org/openkoreantext/processor/util/substantives/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/substantives/family_names.txt(in = 299) (out= 197)(deflated 34%)
adding: org/openkoreantext/processor/util/substantives/given_names.txt(in = 1407) (out= 609)(deflated 56%)
adding: org/openkoreantext/processor/util/substantives/modifier.txt(in = 3395) (out= 1346)(deflated 60%)
adding: org/openkoreantext/processor/util/substantives/suffix.txt(in = 325) (out= 224)(deflated 31%)
adding: org/openkoreantext/processor/util/typos/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/typos/typos.txt(in = 5146) (out= 2300)(deflated 55%)
adding: org/openkoreantext/processor/util/verb/(in = 0) (out= 0)(stored 0%)
adding: org/openkoreantext/processor/util/verb/eomi.txt(in = 12618) (out= 3556)(deflated 71%)
adding: org/openkoreantext/processor/util/verb/pre_eomi.txt(in = 285) (out= 185)(deflated 35%)
adding: org/openkoreantext/processor/util/verb/verb.txt(in = 32758) (out= 10723)(deflated 67%)
adding: org/openkoreantext/processor/util/verb/verb_prefix.txt(in = 47) (out= 52)(deflated -10%)

In [40]:
okt.nouns('확진자')

['확진자']

## 명사 빈도 수 카운트

In [41]:
noun_list = []
for i in range(len(df)):
    noun_list.append(okt.nouns(df["헤드라인"].loc[i]))

In [42]:
noun_list[:3]

[['황교익', '당선인', '먹방', '대통령', '보고'],
 ['비혼', '그', '삶', '살'],
 ['경남', '통영', '아시아', '해양', '관광', '축제', '도시', '지정']]

In [43]:
total_word = []
for i in range(len(noun_list)):
    for j in range(len(noun_list[i])):
        total_word.append(noun_list[i][j])

In [44]:
total_word[:10]

['황교익', '당선인', '먹방', '대통령', '보고', '비혼', '그', '삶', '살', '경남']

In [45]:
len(total_word)

79382

In [46]:
import collections
counter = collections.Counter(total_word)
counter.most_common(30)

[('명', 1609),
 ('코로나', 703),
 ('확진', 662),
 ('신규', 420),
 ('확진자', 381),
 ('지원', 330),
 ('세', 296),
 ('등', 286),
 ('서울', 270),
 ('감소', 263),
 ('부산', 238),
 ('광주', 215),
 ('포토', 213),
 ('경찰', 208),
 ('제', 207),
 ('속보', 207),
 ('사망', 206),
 ('중', 205),
 ('인수위', 200),
 ('전국', 196),
 ('피해', 195),
 ('불', 195),
 ('검찰', 190),
 ('제주', 189),
 ('종합', 189),
 ('뉴스', 187),
 ('정부', 178),
 ('센터', 178),
 ('차', 176),
 ('사업', 175)]

## 불용어 제거하기

In [47]:
stopwords = ['명','세','등','중','제','개']

result = []
for words in total_word:
    if words not in stopwords:
        result.append(words)

In [48]:
import collections
counter = collections.Counter(result)
counter.most_common(30)

[('코로나', 703),
 ('확진', 662),
 ('신규', 420),
 ('확진자', 381),
 ('지원', 330),
 ('서울', 270),
 ('감소', 263),
 ('부산', 238),
 ('광주', 215),
 ('포토', 213),
 ('경찰', 208),
 ('속보', 207),
 ('사망', 206),
 ('인수위', 200),
 ('전국', 196),
 ('피해', 195),
 ('불', 195),
 ('검찰', 190),
 ('제주', 189),
 ('종합', 189),
 ('뉴스', 187),
 ('정부', 178),
 ('센터', 178),
 ('차', 176),
 ('사업', 175),
 ('의원', 174),
 ('서울시', 173),
 ('장애인', 168),
 ('압수수색', 166),
 ('오후', 164)]

# 경제 일반 빈도 분석

In [49]:
df = pd.read_csv("dataset/naver_news/네이버뉴스_경제_경제일반.csv",index_col=0)
df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)
df.drop(df[df['헤드라인'].duplicated(keep='last') == True].index, axis=0, inplace=True)
df.reset_index(inplace=True, drop=True)

noun_list = []
for i in range(len(df)):
    noun_list.append(okt.nouns(df["헤드라인"].loc[i]))
total_word = []

for i in range(len(noun_list)):
    for j in range(len(noun_list[i])):
        total_word.append(noun_list[i][j])
        
stopwords = ['명','세','등','중','제','개','회','것','곳']

result = []
for words in total_word:
    if words not in stopwords:
        result.append(words)
        
counter = collections.Counter(result)
df1 = pd.DataFrame(counter.most_common(30),columns=[['경제','경제'],['단어','빈도수']])
df1

     경제
     단어  빈도수
0    정부  204
1    기업  198
2    지원  162
3    산업  156
4    올해  127
5    한국  122
6    인수  121
7    사업  120
8   쌍용차  115
9    현대  113
10   금융  112
11   경제  111
12   건설  108
13   개발  108
14   최고  102
15   확대  102
16   상승  100
17   대출   97
18  코로나   95
19   시장   94
20  연료비   93
21  인수위   92
22   투자   91
23   조정   91
24  에디슨   90
25   삼성   88
26   부산   87
27   기술   87
28   출시   87
29    재   86

## 정치 일반 빈도분석

In [50]:
df = pd.read_csv("dataset/naver_news/네이버뉴스_정치_정치일반.csv",index_col=0)
df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)
df.drop(df[df['헤드라인'].duplicated(keep='last') == True].index, axis=0, inplace=True)
df.reset_index(inplace=True, drop=True)

noun_list = []
for i in range(len(df)):
    noun_list.append(okt.nouns(df["헤드라인"].loc[i]))
total_word = []

for i in range(len(noun_list)):
    for j in range(len(noun_list[i])):
        total_word.append(noun_list[i][j])
        
stopwords = ['명','세','등','중','제','개','회','것']

result = []
for words in total_word:
    if words not in stopwords:
        result.append(words)
        
counter = collections.Counter(result)
df2 = pd.DataFrame(counter.most_common(30),columns=[['정치','정치'],['단어','빈도수']])
df2

      정치
      단어  빈도수
0    인수위  920
1    당선인  861
2    대통령  553
3    민주당  482
4     출마  457
5    이준석  407
6     정부  401
7    윤석열  367
8     국민  336
9      윤  318
10    후보  309
11    속보  300
12    의원  238
13    총리  231
14   김정숙  226
15    대표  215
16   안철수  212
17    시위  209
18     전  208
19   박홍근  206
20    선언  204
21    포토  201
22    민주  198
23    보고  197
24     힘  194
25  원내대표  191
26    정치  186
27    추경  185
28    예비  183
29   위원장  182

# 사회 일반 빈도분석

In [51]:
df = pd.read_csv("dataset/naver_news/네이버뉴스_사회_사회일반.csv",index_col=0)
df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)
df.drop(df[df['헤드라인'].duplicated(keep='last') == True].index, axis=0, inplace=True)
df.reset_index(inplace=True, drop=True)

noun_list = []
for i in range(len(df)):
    noun_list.append(okt.nouns(df["헤드라인"].loc[i]))
total_word = []

for i in range(len(noun_list)):
    for j in range(len(noun_list[i])):
        total_word.append(noun_list[i][j])
        
stopwords = ['명','세','등','중','제','개','회','것']

result = []
for words in total_word:
    if words not in stopwords:
        result.append(words)
        
counter = collections.Counter(result)
df3 = pd.DataFrame(counter.most_common(30),columns=[['사회','사회'],['단어','빈도수']])
df3

      사회
      단어  빈도수
0    코로나  703
1     확진  662
2     신규  420
3    확진자  381
4     지원  330
5     서울  270
6     감소  263
7     부산  238
8     광주  215
9     포토  213
10    경찰  208
11    속보  207
12    사망  206
13   인수위  200
14    전국  196
15    피해  195
16     불  195
17    검찰  190
18    제주  189
19    종합  189
20    뉴스  187
21    정부  178
22    센터  178
23     차  176
24    사업  175
25    의원  174
26   서울시  173
27   장애인  168
28  압수수색  166
29    오후  164

## 경제/정치/사회 하나로 묶어서 보기

In [52]:
pd.concat([df1,df2,df3],axis=1)

     경제         정치         사회
     단어  빈도수    단어  빈도수    단어  빈도수
0    정부  204   인수위  920   코로나  703
1    기업  198   당선인  861    확진  662
2    지원  162   대통령  553    신규  420
3    산업  156   민주당  482   확진자  381
4    올해  127    출마  457    지원  330
5    한국  122   이준석  407    서울  270
6    인수  121    정부  401    감소  263
7    사업  120   윤석열  367    부산  238
8   쌍용차  115    국민  336    광주  215
9    현대  113     윤  318    포토  213
10   금융  112    후보  309    경찰  208
11   경제  111    속보  300    속보  207
12   건설  108    의원  238    사망  206
13   개발  108    총리  231   인수위  200
14   최고  102   김정숙  226    전국  196
15   확대  102    대표  215    피해  195
16   상승  100   안철수  212     불  195
17   대출   97    시위  209    검찰  190
18  코로나   95     전  208    제주  189
19   시장   94   박홍근  206    종합  189
20  연료비   93    선언  204    뉴스  187
21  인수위   92    포토  201    정부  178
22   투자   91    민주  198    센터  178
23   조정   91    보고  197     차  176
24  에디슨   90     힘  194    사업  175
25   삼성   88  원내대표  191    의원  174
26   부산   87    정치  186   서울시  173
27   기술   87    추경  185   장애인  168
28   출시   87    예비  183  압수수색  166
29    재   86   위원장  182    오후  164

## 특정 단어와 같이 많이 나온 단어 확인하기

### 1. 파일을 불러오고 전처리 진행

In [53]:
df = pd.read_csv("dataset/naver_news/네이버뉴스_사회_사회일반.csv",index_col=0)
df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)
df.drop(df[df['헤드라인'].duplicated(keep='last') == True].index, axis=0, inplace=True)
df.reset_index(inplace=True, drop=True)
df

             날짜                                     헤드라인
0      20220326         황교익 “尹당선인 ‘먹방 대통령’되려면 MB 보고 배워야”
1      20220326                비혼으로 30년…그들은 꿈꾸던 삶을 살고 있나
2      20220326                경남 통영, 아시아 3대 해양관광축제도시 지정
3      20220326   '10억 송이 꽃강' 장성 황룡강 폭포 조성...자연 힐링 명소 각광
4      20220326  55연타 폭풍 펀치 퍼부었다...47세 추성훈, 악연 아오키에 TKO승
...         ...                                      ...
10808  20220329      평생 ‘인간존엄’ 화두 삼은 스승…최고의 헌법학자 김철수 선생님
10809  20220329           분윳값 20만원 빌린 주부…원금만 400만원으로 불었다
10810  20220329    스텔스 오미크론이 우세종으로…오미크론보다 최대 1.5배 전파력 강해
10811  20220329        다시 33만명…정부는 내주부터 ‘10인·12시’로 완화 검토
10812  20220329          [녹유 오늘의 운세] 60년생 오래된 습관 지키고 아껴요

[10813 rows x 2 columns]

### 2. 전처리된 파일 내에서 특정 단어를 포함하는 문장만 추출

In [54]:
temp = []
for i in range(len(df)):
    if '코로나' in df['헤드라인'].loc[i]:
        temp.append(i)
df_temp = df.loc[temp]
df_temp.reset_index(inplace=True, drop=True)
df_temp

           날짜                                            헤드라인
0    20220326             오후 9시 코로나 확진자 31만49명… 전날보다 3715명 많아
1    20220326                       제주 코로나19 확진자 3,864명 추가 발생
2    20220326  [속보] 코로나19 오후 9시까지 전국서 31만49명 확진…어제보다 3715명 많아
3    20220326   26일 오후 9시까지 코로나19 신규 확진자 31만49명…어제보다 3715명 늘어
4    20220326                      코로나19 완만한 감소세…“방심은 여전히 금물”
..        ...                                             ...
694  20220329                     코로나19에 옷 소비 줄자 섬유·세탁 분쟁도 감소
695  20220329                 3개월간 1만명 가까이 코로나로 사망…고위험군 보호 관건
696  20220329               코로나 이후 '메타버스' 언급 매년 증가…1년새 10배 껑충
697  20220329                  인천국제공항공사 “코로나로 힘든 시민들의 삶 돌보겠다”
698  20220329                    코로나 전국 감소세 뚜렷…강원도는 ‘여전히 확산중'

[699 rows x 2 columns]

### 3. 특정 단어를 포함하는 문장들로 빈도분석 진행

In [55]:
df = df_temp
noun_list = []
for i in range(len(df)):
    noun_list.append(okt.nouns(df["헤드라인"].loc[i]))
total_word = []

for i in range(len(noun_list)):
    for j in range(len(noun_list[i])):
        total_word.append(noun_list[i][j])
        
stopwords = ['명','세','등','중','제','개','회','것']

result = []
for words in total_word:
    if words not in stopwords:
        result.append(words)
        
counter = collections.Counter(result)
df4 = pd.DataFrame(counter.most_common(5),columns=[['사회','사회'],['단어','빈도수']])
df4

    사회
    단어  빈도수
0  코로나  703
1  확진자  195
2   확진  155
3   신규  140
4   발생   86