In [31]:
# Argument를 출력해줘
print("Hello, World!")

Hello, World!

# 1. 주석 처리

# h1
## h2 
### h3
#### h4 
##### h5

- 가
- 나
- 다

1. 가
2. 나
3. 다

연세대학교 가족학과 <br><br><br><br><br><br>
특강 중입니다.
<hr>

In [9]:
#프린트는 출력하는 함수
# print("Hello, World")

# 2. 변수지정

In [10]:
a = 1

In [11]:
print(a)

1

In [12]:
a = 2

In [13]:
print(a)

2

In [14]:
a = a + 3

In [15]:
print(a)

5

In [16]:
a = a + a

In [17]:
print(a)

10

In [18]:
a,b,c = 1,2,3

In [19]:
print(a,b,c)

1 2 3

In [20]:
a = b = c = 2

In [21]:
print(a,b,c)

2 2 2

In [23]:
x = 60 #이것은 나의 몸무게 입니다

In [26]:
This_is_my_weight = 60

In [27]:
print(This_is_my_weight)

60

In [28]:
ThisIsMyWeight = 60

In [29]:
print(ThisIsMyWeight)

60

# 3. Data Type

In [30]:
a = 1 #int 정수형
b = 3.14 #float 실수형
c = 'one' #str 문자열
d = '1' #str 문자열
e = a #var 변수

In [33]:
type(a)

int

In [34]:
type(b)

float

In [35]:
type(c)

str

In [36]:
type(d)

str

In [37]:
type(e)

int

In [38]:
True
False

False

In [39]:
type(True)

bool

In [14]:
list1 = [1,2,3,4,1]
list1

[1, 2, 3, 4, 1]

In [15]:
type(list1)

list

In [16]:
range1 = range(1,10)
range1

range(1, 10)

In [17]:
type(range1)

range

In [19]:
tuple1 = (1,2,3,4,1)
tuple1

(1, 2, 3, 4, 1)

In [20]:
type(tuple1)

tuple

In [21]:
set1 = {1,2,3,4,1}
set1

{1, 2, 3, 4}

In [22]:
type(set1)

set

In [23]:
dict1 = {'a':1,'b':2,'c':3}
dict1

{'a': 1, 'b': 2, 'c': 3}

In [24]:
type(dict1)

dict

# 4 Casting
데이터의 타입을 다른 타입으로 바꾸는 방법

In [46]:
height

'173'

In [47]:
type(height)

str

In [48]:
height = int(height)

In [49]:
type(height)

int

In [50]:
int('asd')

ValueError: invalid literal for int() with base 10: 'asd'

In [51]:
int(3.124123123)

3

In [52]:
int(3.999999)

3

In [53]:
round(3.999)

4

In [ ]:
height = input("키를 입력해 주세요")

In [25]:
height

NameError: name 'height' is not defined

# 1-5 Operation

## 1-5-1. Arithmetic

In [54]:
1 + 1

2

In [55]:
1 - 3

-2

In [56]:
3 * 4

12

In [58]:
int(12 / 4)

3

In [59]:
3 ** 2

9

In [68]:
12 % 7

5

In [67]:
12 // 7

1

In [ ]:
a += 1

## 1-5-2. Comparison

In [69]:
1 == 2

False

In [70]:
1 == 1

True

In [75]:
1 != 2

True

In [71]:
1 >= 0

True

In [72]:
1 > 0

True

In [73]:
1 < 0

False

In [74]:
1 <= 0

False

In [76]:
a = 10
a > 0 and a < 6

False

In [77]:
a = 10
a > 0 or a < 6

True

# String

In [35]:
sentence = "This is an apple"

In [36]:
len(sentence)

16

In [37]:
sentence[-1]

'e'

In [38]:
sentence[0]

'T'

In [39]:
sentence[1:-1]

'his is an appl'

In [40]:
sentence + ' and banana'

'This is an apple and banana'

In [42]:
sentence * 2

'This is an appleThis is an apple'

In [43]:
'apple' in sentence

True

In [44]:
'are' in sentence

False

In [45]:
'are' not in sentence

True

# 함수 = 독립사용 가능
# 메소드 = 어떤 특정 객체 a. 에 사용가능

In [46]:
sentence.upper()

'THIS IS AN APPLE'

In [47]:
sentence.upper().lower()

'this is an apple'

In [49]:
sentence = "This is an apple             "

In [50]:
# 앞뒤 공백 제거
sentence.strip()

'This is an apple'

In [125]:
sentence.split(' ')

['This', 'is', 'an', 'apple.']

In [51]:
sentence = "This is an apple"

In [52]:
sentence.replace("This","That")

'That is an apple'

In [57]:
sentence.find('an')

8

In [ ]:
# googling
# ex: how to find a specific letter in string python

In [2]:
list1 = [1,2,3,4,5,1]
list1

[1, 2, 3, 4, 5, 1]

In [3]:
list1[0]

1

In [4]:
list1[0] = 12
list1

[12, 2, 3, 4, 5, 1]

In [5]:
list1.append(13)
list1

[12, 2, 3, 4, 5, 1, 13]

In [6]:
list1.remove(2)
list1

[12, 3, 4, 5, 1, 13]

In [8]:
list1.sort()
list1

[1, 3, 4, 5, 12, 13]

# Function

In [78]:
2 + 3

5

In [79]:
def add(a,b):
    c = a + b
    return c

In [80]:
add(3,4)

7

In [82]:
def minus(a,b):
    c = a - b
    return c

In [83]:
minus(3,4)

-1

In [58]:
def grade_converter():
    mark = int(input("시험 점수를 입력해주세요. "))
    mark = mark * 4.5/100
    return mark

In [59]:
grade_converter()

시험 점수를 입력해주세요. 88

3.96

# if..elif..else

In [94]:
num = 10
if num > 0:
    print("양수입니다.")
elif num == 0:
    print("0 입니다.")
else:
    print("음수입니다.")

양수입니다.

In [74]:
mark = grade_converter()
if mark >= 4.0:
    print("A")
elif mark < 4.0 and mark >=3.0:
    print('B')
elif mark < 3.0 and mark >=2.0:
    print("C")
else:
    print("F")

시험 점수를 입력해주세요. 100
A

# For / While 반복문

In [75]:
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [78]:
for i in range(5):
    print(i)
    print("Hello, World!")

0
Hello, World!
1
Hello, World!
2
Hello, World!
3
Hello, World!
4
Hello, World!

In [79]:
i = 0 
while i < 5:
    print(i)
    print("Hello, World!")
    i += 1

0
Hello, World!
1
Hello, World!
2
Hello, World!
3
Hello, World!
4
Hello, World!

In [62]:
for i in range(2,10):
    for j in range(1,10):
        print("{} 곱하기 {} 는 {} 입니다".format(i,j,i*j))
        print( str(i)+ ' 곱하기 ' + str(j) + " 는 " + str(i*j) + " 입니다.")

2 곱하기 1 는 2 입니다
2 곱하기 1 는 2 입니다.
2 곱하기 2 는 4 입니다
2 곱하기 2 는 4 입니다.
2 곱하기 3 는 6 입니다
2 곱하기 3 는 6 입니다.
2 곱하기 4 는 8 입니다
2 곱하기 4 는 8 입니다.
2 곱하기 5 는 10 입니다
2 곱하기 5 는 10 입니다.
2 곱하기 6 는 12 입니다
2 곱하기 6 는 12 입니다.
2 곱하기 7 는 14 입니다
2 곱하기 7 는 14 입니다.
2 곱하기 8 는 16 입니다
2 곱하기 8 는 16 입니다.
2 곱하기 9 는 18 입니다
2 곱하기 9 는 18 입니다.
3 곱하기 1 는 3 입니다
3 곱하기 1 는 3 입니다.
3 곱하기 2 는 6 입니다
3 곱하기 2 는 6 입니다.
3 곱하기 3 는 9 입니다
3 곱하기 3 는 9 입니다.
3 곱하기 4 는 12 입니다
3 곱하기 4 는 12 입니다.
3 곱하기 5 는 15 입니다
3 곱하기 5 는 15 입니다.
3 곱하기 6 는 18 입니다
3 곱하기 6 는 18 입니다.
3 곱하기 7 는 21 입니다
3 곱하기 7 는 21 입니다.
3 곱하기 8 는 24 입니다
3 곱하기 8 는 24 입니다.
3 곱하기 9 는 27 입니다
3 곱하기 9 는 27 입니다.
4 곱하기 1 는 4 입니다
4 곱하기 1 는 4 입니다.
4 곱하기 2 는 8 입니다
4 곱하기 2 는 8 입니다.
4 곱하기 3 는 12 입니다
4 곱하기 3 는 12 입니다.
4 곱하기 4 는 16 입니다
4 곱하기 4 는 16 입니다.
4 곱하기 5 는 20 입니다
4 곱하기 5 는 20 입니다.
4 곱하기 6 는 24 입니다
4 곱하기 6 는 24 입니다.
4 곱하기 7 는 28 입니다
4 곱하기 7 는 28 입니다.
4 곱하기 8 는 32 입니다
4 곱하기 8 는 32 입니다.
4 곱하기 9 는 36 입니다
4 곱하기 9 는 36 입니다.
5 곱하기 1 는 5 입니다
5 곱하기 1 는 5 입니다.
5 곱하기 2 는 10 입니다
5 곱하기 2 는 10 입니다.
5 곱하기 3 는 15 입니다
5 곱하기 3 는 15 입니다.
5 곱하기 4 는 20 입니다
5 곱하기 4 는 20 입니다.
5 곱하기 5 는 25 입니다
5 곱하기 5 는 25 입니다.
5 곱하기 6 는 30 입니다
5 곱하기 6 는 30 입니다.
5 곱하기 7 는 35 입니다
5 곱하기 7 는 35 입니다.
5 곱하기 8 는 40 입니다
5 곱하기 8 는 40 입니다.
5 곱하기 9 는 45 입니다
5 곱하기 9 는 45 입니다.
6 곱하기 1 는 6 입니다
6 곱하기 1 는 6 입니다.
6 곱하기 2 는 12 입니다
6 곱하기 2 는 12 입니다.
6 곱하기 3 는 18 입니다
6 곱하기 3 는 18 입니다.
6 곱하기 4 는 24 입니다
6 곱하기 4 는 24 입니다.
6 곱하기 5 는 30 입니다
6 곱하기 5 는 30 입니다.
6 곱하기 6 는 36 입니다
6 곱하기 6 는 36 입니다.
6 곱하기 7 는 42 입니다
6 곱하기 7 는 42 입니다.
6 곱하기 8 는 48 입니다
6 곱하기 8 는 48 입니다.
6 곱하기 9 는 54 입니다
6 곱하기 9 는 54 입니다.
7 곱하기 1 는 7 입니다
7 곱하기 1 는 7 입니다.
7 곱하기 2 는 14 입니다
7 곱하기 2 는 14 입니다.
7 곱하기 3 는 21 입니다
7 곱하기 3 는 21 입니다.
7 곱하기 4 는 28 입니다
7 곱하기 4 는 28 입니다.
7 곱하기 5 는 35 입니다
7 곱하기 5 는 35 입니다.
7 곱하기 6 는 42 입니다
7 곱하기 6 는 42 입니다.
7 곱하기 7 는 49 입니다
7 곱하기 7 는 49 입니다.
7 곱하기 8 는 56 입니다
7 곱하기 8 는 56 입니다.
7 곱하기 9 는 63 입니다
7 곱하기 9 는 63 입니다.
8 곱하기 1 는 8 입니다
8 곱하기 1 는 8 입니다.
8 곱하기 2 는 16 입니다
8 곱하기 2 는 16 입니다.
8 곱하기 3 는 24 입니다
8 곱하기 3 는 24 입니다.
8 곱하기 4 는 32 입니다
8 곱하기 4 는 32 입니다.
8 곱하기 5 는 40 입니다
8 곱하기 5 는 40 입니다.
8 곱하기 6 는 48 입니다
8 곱하기 6 는 48 입니다.
8 곱하기 7 는 56 입니다
8 곱하기 7 는 56 입니다.
8 곱하기 8 는 64 입니다
8 곱하기 8 는 64 입니다.
8 곱하기 9 는 72 입니다
8 곱하기 9 는 72 입니다.
9 곱하기 1 는 9 입니다
9 곱하기 1 는 9 입니다.
9 곱하기 2 는 18 입니다
9 곱하기 2 는 18 입니다.
9 곱하기 3 는 27 입니다
9 곱하기 3 는 27 입니다.
9 곱하기 4 는 36 입니다
9 곱하기 4 는 36 입니다.
9 곱하기 5 는 45 입니다
9 곱하기 5 는 45 입니다.
9 곱하기 6 는 54 입니다
9 곱하기 6 는 54 입니다.
9 곱하기 7 는 63 입니다
9 곱하기 7 는 63 입니다.
9 곱하기 8 는 72 입니다
9 곱하기 8 는 72 입니다.
9 곱하기 9 는 81 입니다
9 곱하기 9 는 81 입니다.

In [80]:
grade_list = [100,60,80,14]
grade_list

[100, 60, 80, 14]

In [81]:
for i in grade_list:
    print(i)

100
60
80
14

In [88]:
def grade_convert(mark):
    mark = mark * 4.5/100
    if mark >= 4.0:
        msg = "A"
    elif mark < 4.0 and mark >=3.0:
        msg = 'B'
    elif mark < 3.0 and mark >=2.0:
        msg = "C"
    else:
        msg = "F"
    return msg

In [90]:
for i in grade_list:
    print("{} 점에 대한, 성적은 {} 입니다.".format(i,grade_convert(i)))

100 점에 대한, 성적은 A 입니다.
60 점에 대한, 성적은 C 입니다.
80 점에 대한, 성적은 B 입니다.
14 점에 대한, 성적은 F 입니다.

# 랜덤 넘버를 활용하여 업다운 게임

In [ ]:
import random
random.sample(range(0, 100), 1)[0]

num = random.sample(range(0, 100), 1)[0]
ans = False
while ans != True:
    a = int(input("숫자를 입력해주세요. "))
    if a < num:
        print("땡! 작습니다!")
    elif a > num:
        print("땡! 큽니다!")
    elif a == num:
        print("정답입니다~")
        ans = True

# 실습 BMI 계산기

In [87]:
def BMI():
    mass = int(input("몸무게를 입력해주세요. "))
    height = float(input("키를 입력해주세요. "))
    bmi = mass / height**2
    return bmi

In [88]:
BMI()

몸무게를 입력해주세요. 60
키를 입력해주세요. 1.73

20.04744562130375

# 실습

In [95]:
bmi = 20
if bmi >= 30:
    print("비만입니다.")
elif bmi >= 25 and bmi < 29:
    print("과체중입니다.")
elif bmi >= 20 and bmi < 25:
    print("정상입니다.")
else:
    print("저체중입니다.")

정상입니다.

In [96]:
def BMI_Standard(bmi):
    if bmi >= 30:
        print("비만입니다.")
    elif bmi >= 25 and bmi < 29:
        print("과체중입니다.")
    elif bmi >= 20 and bmi < 25:
        print("정상입니다.")
    else:
        print("저체중입니다.")

In [97]:
BMI_Standard(30)

비만입니다.

In [99]:
def BMI_calculator():
    bmi = BMI()
    BMI_Standard(bmi)

In [100]:
BMI_calculator()

몸무게를 입력해주세요. 60
키를 입력해주세요. 173
저체중입니다.