# Chapter 01 : 파이썬 기초

### 경로 설정
- 지금 현재 주피터 파일이 열려있는 곳을 기준으로 설정
- 아래 ! dir 코드를 통해, 현재 위치 및 포함하고 있는 파일과 폴더 등을 확인할 수 있다.

In [3]:
! dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 40B7-5523

 C:\Users\hanbi\Google Drive\Python을 활용한 텍스트마이닝 디렉터리

2022-02-10  오후 07:30    <DIR>          .
2022-02-10  오후 06:19    <DIR>          ..
2022-02-10  오후 07:28    <DIR>          .ipynb_checkpoints
2022-02-10  오후 07:30               567 Chapter01_Python Intro.ipynb
2022-02-10  오전 09:02    <DIR>          dataset
2022-02-10  오후 06:35    <DIR>          images
2022-02-10  오후 01:05             3,905 [실습1] BMI 계산기.ipynb
2022-02-10  오전 09:08    <DIR>          서류정리
2022-02-10  오후 06:43    <DIR>          수업자료
               2개 파일               4,472 바이트
               7개 디렉터리  72,055,324,672 바이트 남음

<img src='images/shortcut.jpg'>

In [1]:
# print() 함수를 통해, print(arg) 함수 안에 argument를 출력해주는 일을 한다. 
print('Hello, world!')

Hello, world!

# 1. 변수 지정

= 기호가 수학에서 의미하는 '같다'의 의미가 아닌, 오른쪽을 왼쪽에 "할당"한다는 개념이해

In [2]:
# 1을 a라는 변수에 할당
a = 1

# b를 b라는 변수에 할당
b = 2

In [3]:
# a 를 확인해보면, 1이 할당되었음으로, 1을 출력해준다.
print(a)

1

In [4]:
print(b)

2

In [5]:
# 위에서 a에 1이 할당되었다
# a에 a를 더하여 다시 a에 할당해준다
a = a + a

In [7]:
# 따라서, 현재 a는 2로 바뀐것을 확인할 수 있다
print(a)

2

In [15]:
# 여러 변수를 한번에 할당해주기 1
a, b, c = 1, 2, 3

In [16]:
print(a, b, c)

1 2 3

In [17]:
# 여러 변수를 한번에 할당해주기 2
a = b = c = 2

In [18]:
print(a, b, c)

2 2 2

#### 변수 이름 팁
변수 이름은 웬만하면 한번에 알아보기 쉬운 것 으로 지정해주자

In [20]:
myWeight = 60

In [21]:
my_weight = 60

In [22]:
this_is_my_weight = 60

In [23]:
print(this_is_my_weight)

60

# 2. 데이터 타입

- 데이터 타입에 어떤 종류가 있는지 이해
- type() 함수를 통해, 해당 데이터 타입이 어떤것인지 확인가능

In [15]:
a = 100
b = 'one thousand'
c = '1000'
d = 3.14
e = a

In [16]:
# a에는 100이 할당되었다
# a는 현재 int "integer" "정수형" 타입이다
type(a)

int

In [17]:
# b에는 'one thousand' 할당되었다
# b는 현재 str "String" "문자열" 타입이다
type(b)

str

In [18]:
# c에는 ''1000' 할당되었다
# c는 현재 str "String" "문자열" 타입이다

# 즉, '' 혹은 "" 을 통해 변수를 지정하면 숫자를 넣는다 하여도 문자열로 인식한다
type(c)

str

In [19]:
# d에는 3.14가 할당되었다
# d는 현재 float "실수형" 타입이다
type(d)

float

In [20]:
# 변수 e 는 변수 a 를 할당하였다
# 따라서, a와 같은 int 타입이다
type(e)

int

In [21]:
# 아래 True/False 는 Bool "Boolean""불리안" 타입이다
# 컴퓨터에 "Yes"/"No" 에 대한 문제를 True와 False를 이용하여 나타낼수있다
True 
False

False

In [22]:
type(True)

bool

In [23]:
type(False)

bool

In [34]:
# 리스트 타입은 [] 
my_list = [1, 'one', True, 12, 3.14]

In [35]:
type(my_list)

list

In [36]:
# 튜플 타입은 ()
# 튜플과 리스트의 차이는, 리스트는 수정가능하나 튜플은 수정 불가
my_tuple = (1, 2, 3, 4)

In [37]:
type(my_tuple)

tuple

In [24]:
# 셋 타입은 {} 
# 셋 타입과 리스트의 차이는, 리스트는 중복을 허용하나, 셋은 중복을 허용하지 않는다
my_set = {1,2,3,4,1}

In [25]:
type(my_set)

set

In [26]:
print(my_set)

{1, 2, 3, 4}

In [28]:
# range 타입은 range() 함수를 사용
# range(처음부터, 끝이전까지)
my_range = range(1,4)

# 즉 위의 my_range의 경우 1부터 4전까지 [1,2,3] 이라는 리스트가 지정된거와 같은 효과를 낸다

In [29]:
type(my_range)

range

In [30]:
# 딕셔너리 타입 {key1:value1,key2:value2} 을 통해 지정해준다.
my_dict = {'1':1,'2':3,'4':5}

In [31]:
type(my_dict)

dict

In [32]:
# .keys() 라는 딕셔너리 타입의 Method 메소드를 통해 어떤 키가 지정되있는지 볼수있다
my_dict.keys()

dict_keys(['1', '2', '4'])

In [33]:
# .valuess() 라는 딕셔너리 타입의 Method 메소드를 통해 어떤 값이 지정되있는지 볼수있다
my_dict.values()

dict_values([1, 3, 5])

# 3. Casting 
데이터 타입을 변환시키는 방법

In [34]:
a = '1000'

In [35]:
# 위에서 a는 '1000' 으로 String 타입으로 변수할당이 되었다
type(a)

str

In [36]:
# int() 함수를 통해 a를 정수형으로 변환한 후, 이를 다시 a에 할당했다
a = int(a)

In [37]:
# 따라서, 변수 a는 이제 정수형으로 바뀐것을 볼수있다.
type(a)

int

In [39]:
b = 3.99

In [40]:
# 위에서 b는 3.99로 실수형 타입이 할당되었다
type(b)

float

In [41]:
# int()함수를 통해 b를 정수형으로 변환한뒤 이를 b에 다시 할당해주었다
b = int(b)

In [42]:
# 따라서, b의 데이터타입이 int형으로 바뀌었다
type(b)

int

In [43]:
# 실수형->정수형 Casting의 경우, 소수부분을 제거하는 내림 방법으로 변환된다
print(b)

3

In [44]:
b = 3.99
# 반올림을 하고 싶은 경우는 round() 함수를 사용할수있다
round(b)

4

In [45]:
c = 'one'

# c라는 변수에 숫자가 아닌 문자를 통해 str 타입으로 정의된 경우
# 정수형/실수형 등으로 변환할시, 아래와 같은 에러를 출력한다
# 이 경우, c 는 10진법으로 정수형으로 변환할수 없다고 이해할수있다
int(c)

ValueError: invalid literal for int() with base 10: 'one'

In [46]:
# input() 함수를 통해 입력 받은 값을 my_height라는 변수에 할당
my_height = input('키를 입력해주세요.')

키를 입력해주세요.173

In [79]:
# input()함수를 통해 입력받은 값은 항상 str 타입이다
type(my_height)

str

In [47]:
print(my_height)

173

In [48]:
# 따라서, 추후에 이를 활용하기 위해 int()를 통해 casting을 진행할 필요가 있다
int(my_height)

173

# 4. Operation

In [49]:
1 + 2

3

In [50]:
3 - 4

-1

In [51]:
3 * 5

15

In [52]:
3 / 6

0.5

In [53]:
3 ** 2

9

In [55]:
a += 1 

# a = a + 1 와 같은 결과

In [90]:
a -= 1

# a = a - 1 와 같은 결과

# 5. Comparison

In [93]:
a == 1

False

In [94]:
print(a)

1000

In [95]:
a == 1000

True

In [96]:
a != 1000

False

In [97]:
a != 1

True

In [98]:
a > 10

True

In [99]:
a < 100

False

In [100]:
a >= 1000

True

In [101]:
a <= 2000

True

# 6. String

In [102]:
sentence = "This is an apple"

In [104]:
print(sentence)

This is an apple

In [105]:
type(sentence)

str

#### String 타입을 index을 통해 부분 출력
- Python에서 시작하는 부분은 0 부터 시작
- 뒤에서 부터 진행하는 경우 - 를 이용

In [106]:
sentence[0]

'T'

In [107]:
sentence[1]

'h'

In [108]:
sentence[15]

'e'

In [109]:
sentence[-1]

'e'

In [110]:
sentence[-16]

'T'

#### String 타입을 Slicing을 통해 부분 출력
- 시작하는 부분 '0'은 생략가능
- 끝 부분도 생략가능

In [111]:
sentence[1:4]

'his'

In [113]:
sentence[-4:-1]

'ppl'

In [114]:
# 시작 부분 생략
sentence[:4]

'This'

In [115]:
# 끝 부분 생략
sentence[8:]

'an apple'

In [117]:
sentence + ' and a banana'

'This is an apple and a banana'

In [118]:
sentence * 2

'This is an appleThis is an apple'

### 함수 vs 메소드
- print() 와 같은 함수의 경우 독립적으로 혼자서도 사용 가능
- .upper()와 같은 메소드에 경우, .upper()앞에 객체에 사용가능
- 메소드는 함수의 부분집합으로, 폭 넓게 함수라고 이해해도 무방

In [119]:
sentence.upper()

'THIS IS AN APPLE'

In [122]:
sentence = sentence.upper()

In [123]:
sentence

'THIS IS AN APPLE'

In [125]:
sentence = sentence.lower()

In [126]:
sentence

'this is an apple'

# 7. List

In [139]:
my_list = [1, 2, 3, 4, 5]

In [140]:
my_list[0]

1

In [141]:
my_list[-1]

5

In [142]:
my_list.append(4)

In [143]:
my_list

[1, 2, 3, 4, 5, 4]

In [144]:
my_list.sort()

In [145]:
print(my_list)

[1, 2, 3, 4, 4, 5]

# 8. Function

- 파이썬 문법 (Syntax)를 이해하기

In [147]:
# 함수를 지정하는 경우,

# def(함수를 만들겠다 define의 의미) add(함수이름)(a,b 이 함수에서는 a,b를 사용하겠다라는 정의):(함수의시작)
#   (세칸띄우기, 들여쓰기(indentation) 지금 현재 이줄은, 위의 파이썬 함수를 만드는 것을 이어간다는 뜻)
#    return (함수후에 반환하는 결과)

def add(a,b):
    c = a + b
    return c

In [148]:
add(13,14)

27

In [149]:
add(10000,12312312)

12322312

In [156]:
def grade_converter():
    mark = input("시험 점수를 입력해주세요. ")
    mark = float(mark)
    mark = mark * 4.5/100
    return mark

In [157]:
grade_converter()

시험 점수를 입력해주세요. 55

2.475

# 9. IF 문

In [163]:
mark = 2.5

In [165]:
# if 조건1:
# elif 조건2:
# elif 조건3:
# else:
# if 조건을 만족하지 않으면 -> elif 실행 -> elif 만족을 하지 않으면 -> else 실행
if mark >= 4.0: 
    print("A")
elif mark < 4.0 and mark >= 3.50:
    print("B")
elif mark < 3.50 and mark >= 3.00:
    print("C")
else:
    print("F")

F

# 10. For 문

In [166]:
print("지금은 강의 중 입니다")

지금은 강의 중 입니다

In [167]:
print("지금은 강의 중 입니다")
print("지금은 강의 중 입니다")
print("지금은 강의 중 입니다")
print("지금은 강의 중 입니다")
print("지금은 강의 중 입니다")
print("지금은 강의 중 입니다")
print("지금은 강의 중 입니다")

지금은 강의 중 입니다
지금은 강의 중 입니다
지금은 강의 중 입니다
지금은 강의 중 입니다
지금은 강의 중 입니다
지금은 강의 중 입니다
지금은 강의 중 입니다

In [170]:
# range(7)은 앞에 0이 생략되어 0부터 6까지의 리스트
# 즉, 0 부터 6까지의 리스트 하나하나를 i로 지정해서 사용한다는 의미
for i in range(7): 
    print(i)
    print("지금은 강의 중 입니다")

0
지금은 강의 중 입니다
1
지금은 강의 중 입니다
2
지금은 강의 중 입니다
3
지금은 강의 중 입니다
4
지금은 강의 중 입니다
5
지금은 강의 중 입니다
6
지금은 강의 중 입니다

# 11. While 문

In [172]:
# while 조건: 해당 조건이 만족하는 동안에 계속 실행됨
# 처음에 i=0 으로 지정하였음
# i 가 7이 되기 전까지는 계속 실행
# 마지막에 i+=1을 통해 i를 하나씩 더해줌
# 따라서, 0부터 하나씩 더해지며 결국 7이 되었을때 종료

i = 0 
while i < 7:
    print(i)
    print("지금은 강의 중 입니다")
    i += 1

0
지금은 강의 중 입니다
1
지금은 강의 중 입니다
2
지금은 강의 중 입니다
3
지금은 강의 중 입니다
4
지금은 강의 중 입니다
5
지금은 강의 중 입니다
6
지금은 강의 중 입니다