# 간단히 제작한 웹페이지 크롤링

In [1]:
# 라이브러리 불러오기
from bs4 import BeautifulSoup 
import requests

In [2]:
# url안에 html 가져오기
r = requests.get('https://hanbi-kim.github.io/TextMining/web.html')

In [3]:
# text를 html 포멧에 맞게 변경
soup = BeautifulSoup(r.text, 'html.parser')

In [4]:
soup

김한비님이 모두에게 07:30 PM
<html>
<head>
<title>웹 프로그래밍</title>
<style>
.div01{
border: 2px solid blue;
width: 500px;
height: 200px;
}

#id01{
background-color: #ff0088;
}
</style>
</head>
<body>
이것은 웹 프로그래밍 연습입니다.

<h1>이것은 제목1 입니다.</h1>
<h2>이것은 제목2 입니다.</h2>
<h3>이것은 제목3 입니다.</h3>
<h4>이것은 제목4 입니다.</h4>
<p>이것은 문단입니다.</p>
<a href="http://www.naver.com">구글 링크</a> <br/>
<img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201901/20/28017477-0365-4a43-b546-008b603da621.jpg"/>
<br/><br/><br/><br/>
<div style="border : 1px solid red; width:400px; height:150px; ">이것은 div 입니다.</div>
<div style="border : 1px solid red; width:400px; height:150px; ">이것은 div 입니다.</div>
<div class="div01">이것은 div 입니다.</div>
<div class="div01">이것은 클래스가 지정된 div 입니다</div>
<div id="id01">이것은 아이디가 지정된 div 입니다</div>
<br/><br/><br/><br/>
</body>
</html>

In [6]:
# h1 태그를 찾고 해당 태그의 텍스트값 가져오기
soup.find("h1").text

'이것은 제목1 입니다.'

In [7]:
# 모든 div 태그 찾기
soup.find_all("div")

[<div style="border : 1px solid red; width:400px; height:150px; ">이것은 div 입니다.</div>,
 <div style="border : 1px solid red; width:400px; height:150px; ">이것은 div 입니다.</div>,
 <div class="div01">이것은 div 입니다.</div>,
 <div class="div01">이것은 클래스가 지정된 div 입니다</div>,
 <div id="id01">이것은 아이디가 지정된 div 입니다</div>]

In [14]:
# div 태그를 class가 div01 인것을 모두 찾기
soup.find_all("div",'div01')

[<div class="div01">이것은 div 입니다.</div>,
 <div class="div01">이것은 클래스가 지정된 div 입니다</div>]

In [15]:
# div 태그중 id가 id01 인 것을 모두 찾기
soup.find_all("div",id='id01')

In [18]:
# div를 모두 찾고, 세번쨰 div 태그의 class 값 가져오기
soup.find_all("div")[2]['class']

['div01']

# 네이버 영화 평점/리뷰

## 더베트맨 영화 평점/리뷰 크롤링

In [22]:
# url안에 html 가져오기
r = requests.get('https://movie.naver.com/movie/point/af/list.naver?st=mcode&sword=154282&target=after&page=1')
soup = BeautifulSoup(r.text, 'html.parser')

In [25]:
# 영화 리뷰/평점 정보가 tbody 라는 태그안에 들어있음으로, 이를 table이란 변수에 저장
table = soup.find("tbody")

In [33]:
# 해당 테이블 변수의 tr에 각각의 정보가 들어있고, em 태그안에 평점 점수가 들어있음
table.find_all("tr")[0].find("em").text

'10'

In [34]:
# for문을 활용하여 모든 tr 개수에 맞게 평점 정보가 잘 들어있는지 확인하기
for i in range(len(table.find_all("tr"))):
    print(int(table.find_all("tr")[i].find("em").text))

10
10
10
8
2
10
9
8
10
10

In [39]:
# review_point라는 빈 리스트를 만들고 안에 리뷰 평점 점수를 담아줌
review_point = []
for i in range(len(table.find_all("tr"))):
    review_point.append(int(table.find_all("tr")[i].find("em").text))

In [40]:
# 현재 페이지에 리뷰 평점 점수가 알맞게 담겨진 것을 확인
review_point

[10, 10, 10, 8, 2, 10, 9, 8, 10, 10]

In [46]:
# 리뷰를 가져오기 위해, tr 태그 안에 td태그의 class 명이 title 인것을 가져옴
table.find_all("tr")[0].find("td","title")

<td class="title">
<a class="movie color_b" href="/movie/bi/mi/basic.naver?code=154282">더 배트맨</a>
<div class="list_netizen_score">
<span class="st_off"><span class="st_on" style="width:100%">별점 - 총 10점 중</span></span><em>10</em>
</div>
<br/>진정한 배트맨다운 영화 정말 좋았음!!!






				<a class="report" href="#" onclick="report('rick****', 'VDmAzQcVBGr6yLJHEChZ4alzOBT6yqFetA8OcundGKA=', '진정한 배트맨다운 영화 정말 좋았음!!!', '17993847', 'point_after');" style="color:#8F8F8F" title="새 창">신고</a>
</td>

In [51]:
# 텍스트만 추출하기 위해, \t를 제거하고, \n\n을 기준으로 나눈 후, 세번째 아이템 선택
table.find_all("tr")[0].find("td","title").text.replace("\t",'').split("\n\n")[2]

'진정한 배트맨다운 영화 정말 좋았음!!! '

In [52]:
# for 문을 활용하여 현재 페이지 리뷰 정보가 잘 들어있는지 확인
for i in range(len(table.find_all("tr"))):
    print(table.find_all("tr")[i].find("td","title").text.replace("\t",'').split("\n\n")[2])

진정한 배트맨다운 영화 정말 좋았음!!!
베트게이의 어두운 모습을 잘 보여줬다 샐각하고 팬들을 위한 서비스 같은 작품이 아닐까.
1. 미쟝센2. 서사적 연출3. 설득력4. OST 그리고 긴장감을 터트려주는 딱 좋은 액션신다크나이트와 견줄수 있는 수작아니, 일정파트는 이미 다크나이트를 넘음.
재밌음
내 28년인생에 영화관에서보다가 존적 딱 두번인데 이게두번째임. 너무 지루하고 기승전결이 일직선이다. 불면증환자에게 추천
배트맨 이상의 뭔가 추리소설 한 편 본 듯한 느낌. 어떤 분은 3시간이 길었다는 평도 있었지만 내겐 3시간이 된 줄도 몰랐다!
정말 오랜만에 배트맨을 봤습니다.
이전과는 다른 배트맨이지만 매력있다. ost는 진국임
지루하다길래 걱정했는데 1도 지루하지않았고 너무 재밌었음 한번 더 보고싶은정도
현실적 배트맨의 서사드라마틱 전개가 굿선 과 악의 경계를 생각하게 해줌

In [53]:
# review_list라는 빈 리스트를 만들고 앞선 정보를 리스트에 저장
review_list = []
for i in range(len(table.find_all("tr"))):
    review_list.append(table.find_all("tr")[i].find("td","title").text.replace("\t",'').split("\n\n")[2])

In [54]:
# review_list 확인해보기
review_list

['진정한 배트맨다운 영화 정말 좋았음!!! ',
 '베트게이의 어두운 모습을 잘 보여줬다 샐각하고 팬들을 위한 서비스 같은 작품이 아닐까. ',
 '1. 미쟝센2. 서사적 연출3. 설득력4. OST 그리고 긴장감을 터트려주는 딱 좋은 액션신다크나이트와 견줄수 있는 수작아니, 일정파트는 이미 다크나이트를 넘음. ',
 '재밌음 ',
 '내 28년인생에 영화관에서보다가 존적 딱 두번인데 이게두번째임. 너무 지루하고 기승전결이 일직선이다. 불면증환자에게 추천 ',
 '배트맨 이상의 뭔가 추리소설 한 편 본 듯한 느낌. 어떤 분은 3시간이 길었다는 평도 있었지만 내겐 3시간이 된 줄도 몰랐다! ',
 '정말 오랜만에 배트맨을 봤습니다. ',
 '이전과는 다른 배트맨이지만 매력있다. ost는 진국임 ',
 '지루하다길래 걱정했는데 1도 지루하지않았고 너무 재밌었음 한번 더 보고싶은정도 ',
 '현실적 배트맨의 서사드라마틱 전개가 굿선 과 악의 경계를 생각하게 해줌 ']

In [55]:
# Pandas 불러오기
import pandas as pd

In [56]:
# 앞선 영화 리뷰와 평점 점수를 데이터프레임으로 만들기
pd.DataFrame({"영화 제목":review_list,"영화 평점":review_point})

                                               영화 제목  영화 평점
0                            진정한 배트맨다운 영화 정말 좋았음!!!      10
1  베트게이의 어두운 모습을 잘 보여줬다 샐각하고 팬들을 위한 서비스 같은 작품이 아닐까.      10
2  1. 미쟝센2. 서사적 연출3. 설득력4. OST 그리고 긴장감을 터트려주는 딱 좋...     10
3                                               재밌음       8
4  내 28년인생에 영화관에서보다가 존적 딱 두번인데 이게두번째임. 너무 지루하고 기승...      2
5  배트맨 이상의 뭔가 추리소설 한 편 본 듯한 느낌. 어떤 분은 3시간이 길었다는 평...     10
6                                정말 오랜만에 배트맨을 봤습니다.       9
7                     이전과는 다른 배트맨이지만 매력있다. ost는 진국임       8
8       지루하다길래 걱정했는데 1도 지루하지않았고 너무 재밌었음 한번 더 보고싶은정도      10
9           현실적 배트맨의 서사드라마틱 전개가 굿선 과 악의 경계를 생각하게 해줌      10

### 두번째 페이지 작업

In [57]:
# url안에 html 가져오기

r = requests.get('https://movie.naver.com/movie/point/af/list.naver?st=mcode&sword=154282&target=after&page=2') # 뒤에 페이지 숫자 변경
soup = BeautifulSoup(r.text, 'html.parser')

table = soup.find("tbody")

review_point = []
review_list = []

for i in range(len(table.find_all("tr"))):
    review_point.append(int(table.find_all("tr")[i].find("em").text))
    review_list.append(table.find_all("tr")[i].find("td","title").text.replace("\t",'').split("\n\n")[2])

In [58]:
pd.DataFrame({"영화 제목":review_list,"영화 평점":review_point})

                                               영화 제목  영화 평점
0       지루하다길래 걱정했는데 1도 지루하지않았고 너무 재밌었음 한번 더 보고싶은정도      10
1           현실적 배트맨의 서사드라마틱 전개가 굿선 과 악의 경계를 생각하게 해줌      10
2                         러닝타임이 길었지만 그래도 눈을 뗄 수 없었다       8
3                             진짜 어둠의 멋을 아는자의 위대한 첫발       8
4  1.캣우먼등장은 좋았지만 키스신이 좀 억지스러웠다. 그래도 결말부분 배트맨과 캣우먼...      8
5  솔직히 배트맨만의 다크함과 아우라가 마블의 가벼움보다는 훨 나았어요.OST 너무 좋...     10
6  역대급으로 밋밋한 배트맨입니다. 현실성을 추구하고 분위기를 중시한건 알겠는데 .. ...      2
7                                             \n신고\n      9
8                                   올해 최고의 블록버스터 영화       8
9          오래간만이다제대로된 DC 영화 본 것이오늘보다 내일이 더 기대되는 배트맨       8

## 30페이지 까지 크롤링 진행

In [117]:
# url안에 html 가져오기
review_point = []
review_list = []

for page in range(1,30): #뒤에 숫자만 변경해주면 됨으로 for문을 통해 1페이지 부터 30페이지 까지 설정
    r = requests.get('https://movie.naver.com/movie/point/af/list.naver?st=mcode&sword=154282&target=after&page='+str(page))
    # 페이지는 문자열임으로 str()을 통해 casting을 진행하여 정수형인 page를 문자열 타임으로 변환 시킨 후 합쳐주기
    soup = BeautifulSoup(r.text, 'html.parser')

    table = soup.find("tbody")

    for i in range(len(table.find_all("tr"))):
        review_point.append(int(table.find_all("tr")[i].find("em").text))
        review_list.append(table.find_all("tr")[i].find("td","title").text.replace("\t",'').split("\n\n")[2])

In [118]:
df = pd.DataFrame({"영화 제목":review_list,"영화 평점":review_point})

In [119]:
df.to_excel("dataset/더배트맨영화리뷰.xlsx", encoding='utf-8sig')

In [120]:
df

                                                 영화 제목  영화 평점
0                                   베트맨 보고나면 왜케 먹먹하냐…      10
1                            속편이 기대되는 아직 어리숙한 2년차 배트맨      10
2                                               \n신고\n      8
3                      나는 복수다가 희망으로 바뀌는 마지막이 정말 최고였음.       9
4                       너무나 어둡고 진지하다. 근데 이게 배트맨의 매력이지       8
..                                                 ...    ...
285                                   이것이 놀란 차이인가요...       5
286                                             \n신고\n     10
287                                             \n신고\n     10
288  처음 남겨봅니다. 며칠 째 여운이 남아 있습니다. 아름다운 오프닝과 엔딩. 배트맨의...     10
289  뜬금없고 어둡고 어둡고 어둡다. 러닝타임 세시간에 비해 내용이없다. 배트맨도 멋없고...      1

[290 rows x 2 columns]

In [121]:
# 첫번째 영화 리뷰
df['영화 제목'].loc[0]

'베트맨 보고나면 왜케 먹먹하냐… '

In [122]:
# 첫번쨰 영화 리뷰에 '신고' 라는 단어가 들어있는지 확인
'신고' in df['영화 제목'].loc[0]

False

In [123]:
# '신고' 라는 단어가 들어있는 영화 리뷰 인덱스 번호 확인
for i in range(len(df)):
    if '신고' in df['영화 제목'].loc[i]:
        print(i)

2
21
26
27
48
49
50
81
94
96
108
142
151
161
175
213
280
286
287

In [124]:
# index_list 라는 빈 리스트를 만들고 앞선 '신고'가 들어있던 인덱스를 담아주기
index_list = []
for i in range(len(df)):
    if '신고' in df['영화 제목'].loc[i]:
        index_list.append(i)

In [125]:
# '신고'라는 단어가 포함된 영화 리뷰 확인하기
df['영화 제목'].loc[index_list]

2      \n신고\n
21     \n신고\n
26     \n신고\n
27     \n신고\n
48     \n신고\n
49     \n신고\n
50     \n신고\n
81     \n신고\n
94     \n신고\n
96     \n신고\n
108    \n신고\n
142    \n신고\n
151    \n신고\n
161    \n신고\n
175    \n신고\n
213    \n신고\n
280    \n신고\n
286    \n신고\n
287    \n신고\n
Name: 영화 제목, dtype: object

In [135]:
# index_list에 들어있는 인덱스 번호를 제거
# axis=0 은 가로 축/ axis=1 세로 축 제거
# inplace=True 는 df 자체에서 발생하도록 설정해줌
df.drop(index_list,axis=0,inplace=True)

In [140]:
# 인덱스가 제거 되었음으로 인덱스를 재설정해줌
# inplace=True 는 df 자체에서 발생하도록 설정
#  reset_index()시 기존 인덱스가 index라는 콜롬에 생성됨으로 이를 제거하기 위해, drop=True
df.reset_index(inplace=True,drop=True)

In [141]:
df

                                                 영화 제목  영화 평점
0                                   베트맨 보고나면 왜케 먹먹하냐…      10
1                            속편이 기대되는 아직 어리숙한 2년차 배트맨      10
2                      나는 복수다가 희망으로 바뀌는 마지막이 정말 최고였음.       9
3                       너무나 어둡고 진지하다. 근데 이게 배트맨의 매력이지       8
4                            진짜재밌어요. 어두운분위기가 좋게잘표현됫어요      10
..                                                 ...    ...
266                                   배트맨 시리즈중 최고 bbb      10
267                            분위기는 배트맨과 잘 어울렸던 것 같다.       6
268                                   이것이 놀란 차이인가요...       5
269  처음 남겨봅니다. 며칠 째 여운이 남아 있습니다. 아름다운 오프닝과 엔딩. 배트맨의...     10
270  뜬금없고 어둡고 어둡고 어둡다. 러닝타임 세시간에 비해 내용이없다. 배트맨도 멋없고...      1

[271 rows x 2 columns]

In [142]:
# df를 dataset 폴더 안에 더베트맨영화리뷰.xlsx 엑셀 파일로 저장하기
# encoding='utf-8-sig' 한국어 깨짐을 방지하기 위한 인코딩 타입 설정
df.to_excel("dataset/더배트맨영화리뷰.xlsx", encoding='utf-8sig')