# 셀레니움 활용하기

In [5]:
from bs4 import BeautifulSoup
from selenium import webdriver
import urllib.request
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [11]:
# 웹드라이브로 크롬브라우즈 띄운다.
driver_path = "driver/chromedriver.exe"
driver = webdriver.Chrome(executable_path=driver_path)

In [12]:
url_page = "https://www.starbucks.co.kr/store/store_map.do"
driver.get(url_page)
soup = BeautifulSoup(driver.page_source, "html.parser")

# 스타벅스 매장명/매장주소 데이터화

In [13]:
# 서울이라고 키보드 입력하기
driver.find_element_by_xpath('//*[@id="quickSearchText"]').send_keys("서울")

In [14]:
# 특정부분 마우스 클릭하기
driver.find_element_by_xpath('//*[@id="container"]/div/form/fieldset/div/section/article[1]/article/header[2]/h3/a').click()

In [15]:
driver.find_element_by_xpath('//*[@id="container"]/div/form/fieldset/div/section/ \
                             article[1]/article/article[2]/div[1]/div[2]/ul/li[1]/a').click()

In [16]:
driver.find_element_by_xpath('//*[@id="mCSB_2_container"]/ul/li[1]/a').click()

In [17]:
soup = BeautifulSoup(driver.page_source, "html.parser")

In [18]:
# 정보가 담겨있는 태그 확인하기
soup.find_all("li","quickResultLstCon")[0]

<li class="quickResultLstCon" data-code="3979" data-hlytag="null" data-index="0" data-lat="37.598934" data-long="126.8924129" data-name="고양향동" data-storecd="1784" style="background:#fff"> <strong data-my_siren_order_store_yn="N" data-name="고양향동" data-store="1784" data-yn="N">고양향동  </strong> <p class="result_details">경기도 고양시 덕양구 꽃마을로 4 (향동동)<br/>1522-3232</p> <i class="pin_general">리저브 매장 2번</i></li>

In [19]:
# 매장명 텍스트 가져오기
soup.find_all("li","quickResultLstCon")[0].find("strong").text

'고양향동  '

In [20]:
# 주소 텍스트 가져오기
soup.find_all("li","quickResultLstCon")[0].find("p").text

'경기도 고양시 덕양구 꽃마을로 4 (향동동)1522-3232'

In [21]:
# 매장명과 주소를 담을 빈 리스트 생성
name_list = []
address_list = []

temp = soup.find_all("li","quickResultLstCon")

for i in range(len(temp)):
    name_list.append(temp[i].find("strong").text)
    address_list.append(temp[i].find("p").text)

In [22]:
df = pd.DataFrame({"매장명":name_list,"주소":address_list})
df

           매장명                                                 주소
0       고양향동                    경기도 고양시 덕양구 꽃마을로 4 (향동동)1522-3232
1      상암MBC                     서울특별시 마포구 성암로 267 (상암동)1522-3232
2    상암사보이시티                 서울특별시 마포구 월드컵북로54길 17 (상암동)1522-3232
3      북가좌DT                    서울특별시 서대문구 응암로 85 (북가좌동)1522-3232
4      상암YTN                     서울특별시 마포구 상암산로 76 (상암동)1522-3232
..         ...                                                ...
575     사가정역                           서울특별시 중랑구 면목로 3101522-3232
576      상봉역                     서울특별시 중랑구 망우로 307 (상봉동)1522-3232
577    묵동이마트    서울특별시 중랑구 동일로 932 (묵동, 묵동자이아파트) (묵동이마트 B1층)152...
578       묵동       서울특별시 중랑구 동일로 952 (묵동, 로프트원 태릉입구역) 1층1522-3232
579      중화역                      서울특별시 중랑구 봉화산로 35 1,2층1522-3232

[580 rows x 2 columns]